.chain {
  padding: 1rem;
  width: max-content;
  margin-inline: auto;
  border: 1px solid #825fe3;
  border-radius: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.completed {
  background-color: #825fe3;
  color: #fff;
}

.inputContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.inputContainer input {
  width: 20px;
  height: 20px;
}

.inputContainer label {
  font-weight: normal;
}

.date {
  margin-bottom: 0.4rem;
}
