:root{
  --stark: #e7dfdd;
  --void: #0e0b16;
  --fuschia:#a239ca;
  --jevel: #4717f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  border: none;
  background-color: var(--fuschia);
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  transition: all 300ms linear;
  font-size: 1rem;
  font-weight: bold;
}


button:hover, button:focus {
  background-color: var(--jevel);
}

input, input:focus, input:active{
  outline: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: var(--stark);
  width: min(80%, 1000px);
  margin-inline: auto;
  min-width: 500px;
}

.App{
  background-color: #fff;
  padding: 1rem;
}

h1 {
  text-align: center;
  color: var(--void);
}